* {
  margin: 0px
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  min-height: 100vh;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
  padding: 0px;
}

a {
  height: fit-content;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);

}

li {
  display: flex;
  align-content: flex-start;
  font-weight: 500;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 32px;
  font-weight: 800;
}

h2 {
  color: rgb(59, 71, 104);
  font-size: 24;
  margin-bottom: 40px;
}

h3 {
  font-size: 22px;
  color: white;
}

p {
  color: rgb(255, 255, 255);
  line-height: 1.3rem;
}

.hero-button {
  background-color: rgb(0, 128, 255);
  padding: 8px 22px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  justify-content: center;
  box-shadow: none;
  width: fit-content;
  margin-top: 4px;
}


/* HEADER */

.header {
  flex-direction: row;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  background-color: #476A73;
}

#header-icon {
  display: flex;
  width: 56px;
  height: 56px;
}

.header-content {
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  align-content: center;
  height: fit-content;
  width: 100%;
}

.header-title {
  display: flex;
  margin-top: -2px;
  flex-wrap: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 16px;
  font-weight: 700;
  font-size: 32px;
}

.links {
  display: flex;
  justify-items: center;
  display: flex;
}

/* BODY */
.body {
  flex-direction: column;
  display: flex;
  align-content: flex-start;
  flex: 1;
  margin: 0px;
  justify-content: flex-start;
}

/* section1 */
.content-section-1 {
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #476A73;
}

.wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.column-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
}


.column-right {
  display: flex;
  justify-items: flex-end;
}

#selfie {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(153, 153, 153);
  width: fit-content;
  height: 300px;
  border: 2px solid white;
  border-radius: 8px;
}

/* section2 */
.content-section-2 {
  flex-direction: column; 
  align-items: center;
  /* height: 400px; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 80px
}

.wrapper2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
  gap: 80px;
  
}

.image-square {
  display: flex;
  align-items: center;
  height: 200px;
  margin: 0px;
  /* border: 2px solid rgb(0, 68, 255); */
  border-radius: 16px;
  background-color: rgb(242, 242, 242);
}

img {
  box-sizing: border-box;
  width: 200px;
  height: fit-content;
}

.skillset-title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
}

.image-with-caption {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  gap: 8px;
  width: fit-content;
}

.caption {
  width: 180px;
  text-align: left;
  font-size: 14px;
}

/* section3 */
.content-section-3 {
  display: flex;
  align-items: center;
  background-color: rgb(185, 185, 185);
  padding: 80px;
  display: flex;
  justify-content: center;
}

.wrapper3 {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.quote {
  color: black;
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
}

.credit {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* section4 */

.content-section-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 80px;
  /* height: 600px; */
}

.wrapper4 {
  display: flex;
  width: 80%;
  padding: 24px 64px;
  background-color: #734757;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.cta-wrapper {
  width: 100%;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 24px; */
}

.left-column {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  gap: 16px;
}

.right-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* cta-button */

.cta-button {
  border: 2px solid white;
  padding: 8px 22px;
  color: white;
  background-color: #734757;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  justify-content: center;
  box-shadow: none;
  width: fit-content;
}

/* FOOTER */
.footer {
  display: flex;
  height: 80px;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #476A73;
}

