* {
  margin: 0px
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  min-height: 100vh;
}



/* HEADER */

.header {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  /* padding-left: 100px;
  padding-right: 100px; */
  padding-top: 60px;
  background-color: rgb(59, 71, 104);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 80px;
}

.header-title {
  color: white;
  font-weight: 700;
  display: flex;
  font-size: 48px;
}

.links {
  display: flex;
  justify-items: center;
  display: flex;
  gap: 8px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 16px;
  padding: 0px;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);

}

li {
  display: flex;
  align-content: flex-start;
  font-weight: 500;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 32px;
  font-weight: 800;
}

h2 {
  color: rgb(59, 71, 104);
  font-size: 24;
  margin-bottom: 40px;
}

p {
  color: rgb(255, 255, 255);
}

button {
  display: flex;
  background-color: rgb(0, 128, 255);
  padding: 8px 4px;
  width: 150px;
  color: white;
  font-size: 18px;
  font-weight: 700px;
  border-radius: 8px;
  border: none;
  justify-content: center;
  box-shadow: none;
}

/* BODY */



.body {
  flex-direction: column;
  display: flex;
  align-content: flex-start;
  flex: 1;
  margin: 0px;
  justify-content: flex-start;
}

/* section1 */
.content-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 71, 104);
  height: 300px;
}

.wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 900px;
  /* height: 500px; */
}

.column-left {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 16px;
}

.column-right {
  display: flex;
}

.flexcontainer {
  max-width: 900px;
}

.img-container {
  color: rgb(255, 255, 255);
  font-weight: 800;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(153, 153, 153);
  height: 100px;
  width: 200px;
}

/* section2 */
.content-section-2 {
  flex-direction: column; 
  align-items: center;
  /* height: 400px; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding: 40px
}

.wrapper2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 40px;
  gap: 80px;
  
}

.image-square {
  display: flex;
  size: 72px 72px;
  margin: 0px;
  border: 2px solid rgb(0, 68, 255);
  padding: 16px;
  border-radius: 16px;
}

img {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
}

.image-with-caption {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  gap: 8px;

}

.caption {
  width: 120px;
  text-align: center;
  font-size: 14px;
}

.content-section-3 {
  flex-direction: column; 
  align-items: center;
  height: 300px;
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: center;
}

/* FOOTER */

.footer {
  display: flex;
  height: 80px;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 57, 94);
}

